In [ ]:
## 4. Indexing and Slicing
s = "The youngest pope was 11 years old"

In [52]:
s = "The youngest pope was 11 years old"

In [59]:
s
T =0
h = 1
e =2
 
y= 4

d = -1
l = -2

'The youngest pope was 11 years old'

In [61]:
print(s[0])

T

In [55]:
print(s[1:5])

he y

In [ ]:
0 T
1 h
2 e
3 
4 y
5 o
start with 1
end before 5 (exclusive)

In [56]:
print(s[-3:-1])

ol

In [57]:
print(s[-3:])

old

In [68]:
x = s.split()

In [67]:
s = "The youngest pope was 11 years old"

In [69]:
print(x)

['The', 'youngest', 'pope', 'was', '11', 'years', 'old']

In [72]:
print(x[-3] + " " + x[-1] + " " + x[2] + "r")

11 old poper

In [75]:
print(x[-3:])

['11', 'years', 'old']

In [16]:

y = " This is lazy\t\n "

In [17]:
print(y.strip())

This is lazy

In [18]:
print("DrDre".lower())

drdre

In [19]:
print("attention".upper())

ATTENTION

In [22]:
print("smartphone".startswith("pho"))

False

In [25]:
print("smartphone".endswith("ne"))

True

In [28]:
print("another".find("o"))

2

In [ ]:
a 0
n 1
o 2
t 3
h 4

In [29]:
print("cheat".replace("ch", "m"))

meat

In [34]:
print('3'.join(["F", "B", "I"]))

F3B3I

In [35]:
print(len("Rumpelstiltskin"))

15

In [36]:
print("eer" in "earth")

False

In [37]:
list(map(lambda x: x[0], ['red','green', 'blue']))

['r', 'g', 'b']

In [41]:
list(map(lambda x, y: str(x) + ' ' +y + 's' , [0, 2, 2], ['apple','orange', 'banana']))

['0 apples', '2 oranges', '2 bananas']

In [42]:
#Concatenates iterable elements separated by string
' marries '.join(list(['Alice','Bob']))

'Alice marries Bob'

In [45]:
#Filters out elements in iterable for which function returns False (or 0)
list(filter(lambda x: True if x>17 else False, [1, 15, 17, 18]))

[18]

In [46]:
#Removes leading and trailing whitespaces of string
print(" \n \t 42 \t ".strip())

42

In [47]:
sorted([8, 3, 2, 42, 5])

[2, 3, 5, 8, 42]

In [49]:
sorted([8, 3, 2, 42, 5], key=lambda x: 0 if x==42 else x)

[42, 2, 3, 5, 8]

In [ ]:
help(str.upper())

In [50]:
#Groups the i-th elements of iterators i1, i2,â€¦ together
list(zip(['Alice', 'Anna'], ['Bob','Jon', 'Frank']))

[('Alice', 'Bob'), ('Anna', 'Jon')]

In [51]:
list(enumerate(['Alice', 'Bob','Jon']))

[(0, 'Alice'), (1, 'Bob'), (2, 'Jon')]