In [50]:

pwd

'D:\\GL'

In [55]:
import os
os.chdir('D:\GL\Dec28')

NameError: name 'chdir' is not defined

In [56]:
pwd

'D:\\GL\\Dec28'

In [81]:
import pandas as pd

In [95]:
data=pd.read_csv('D:\GL\Dec28\data.csv')

In [98]:
data

   Code     COUNTRY      POP      AREA       GDP       CONT     IND_DAY
0   CHN       China  1398.72   9596.96  12234.78       Asia         NaN
1   IND       India  1351.16   3287.26   2575.67       Asia  15-08-1947
2   USA          US   329.74   9833.52  19485.39  N.America  1776-07-04
3   IDN   Indonesia   268.07   1910.93   1015.54       Asia  17-08-1945
4   BRA      Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
5   PAK    Pakistan   205.71    881.91    302.14       Asia  14-08-1947
6   NGA     Nigeria   200.96    923.77    375.77     Africa  01-10-1960
7   BGD  Bangladesh   167.09    147.57    245.63       Asia  26-03-1971
8   RUS      Russia   146.79  17098.25   1530.75        NaN  12-06-1992
9   MEX      Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
10  JPN       Japan   126.22    377.97   4872.42       Asia         NaN
11  NaN         NaN      NaN       NaN       NaN        NaN         NaN
12  FRA      France    67.02    640.68   2582.49     Europe  1789-07-14
13  GBR          UK    66.44    242.50   2631.23     Europe         NaN
14  ITA       Italy    60.36    301.34   1943.84     Europe         NaN
15  ARG   Argentina    44.94   2780.40    637.49  S.America  1816-07-09
16  DZA     Algeria    43.38   2381.74    167.56     Africa  05-07-1962
17  CAN      Canada    37.59   9984.67   1647.12  N.America  1867-07-01
18  AUS   Australia    25.47   7692.02   1408.68    Oceania         NaN
19  KAZ  Kazakhstan    18.53   2724.90    159.41       Asia  16-12-1991

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Code     19 non-null     object
 1   COUNTRY  19 non-null     object
 2   POP      19 non-null     float64
 3   AREA     19 non-null     float64
 4   GDP      19 non-null     float64
 5   CONT     18 non-null     object
 6   IND_DAY  14 non-null     object
dtypes: float64(3), object(4)
memory usage: 1.2+ KB

In [99]:
data.describe()

               POP          AREA           GDP
count    19.000000     19.000000     19.000000
mean    257.636316   4278.238947   3001.560526
std     403.367782   4750.827773   4832.351839
min      18.530000    147.570000    159.410000
25%      52.650000    761.295000    506.630000
50%     126.580000   2381.740000   1530.750000
75%     208.015000   8103.895000   2579.080000
max    1398.720000  17098.250000  19485.390000

In [101]:
data['POP'].mean()

257.6363157894737

In [112]:
data['median']=data.groupby(['CONT'])['POP'].median()

In [115]:
data

,Code,COUNTRY,POP,AREA,GDP,CONT,IND_DAY,median
0,CHN,China,1398.72,9596.96,12234.78,Asia,NaN,NaN
1,IND,India,1351.16,3287.26,2575.67,Asia,15-08-1947,NaN
2,USA,US,329.74,9833.52,19485.39,N.America,1776-07-04,NaN
3,IDN,Indonesia,268.07,1910.93,1015.54,Asia,17-08-1945,NaN
4,BRA,Brazil,210.32,8515.77,2055.51,S.America,1822-09-07,NaN
5,PAK,Pakistan,205.71,881.91,302.14,Asia,14-08-1947,NaN
6,NGA,Nigeria,200.96,923.77,375.77,Africa,01-10-1960,NaN
7,BGD,Bangladesh,167.09,147.57,245.63,Asia,26-03-1971,NaN
8,RUS,Russia,146.79,17098.25,1530.75,NaN,12-06-1992,NaN
9,MEX,Mexico,126.58,1964.38,1158.23,N.America,1810-09-16,NaN
10,JPN,Japan,126.22,377.97,4872.42,Asia,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,FRA,France,67.02,640.68,2582.49,Europe,1789-07-14,NaN
13,GBR,UK,66.44,242.50,2631.23,Europe,NaN,NaN
14,ITA,Italy,60.36,301.34,1943.84,Europe,NaN,NaN
15,ARG,Argentina,44.94,2780.40,637.49,S.America,1816-07-09,NaN
16,DZA,Algeria,43.38,2381.74,167.56,Africa,05-07-1962,NaN
17,CAN,Canada,37.59,9984.67,1647.12,N.America,1867-07-01,NaN
18,AUS,Australia,25.47,7692.02,1408.68,Oceania,NaN,NaN
19,KAZ,Kazakhstan,18.53,2724.90,159.41,Asia,16-12-1991,NaN

In [70]:
data=pd.read_csv('D:\GL\Dec28\data - Copy.csv',sep='&')

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Code     20 non-null     object
 1   COUNTRY  20 non-null     object
 2   POP      20 non-null     float64
 3   AREA     20 non-null     float64
 4   GDP      20 non-null     float64
 5   CONT     19 non-null     object
 6   IND_DAY  14 non-null     object
dtypes: float64(3), object(4)
memory usage: 1.2+ KB

In [25]:
data=pd.read_csv('D:\GL\Dec28\data - Copy.csv',sep='&',header =None)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       21 non-null     object
 1   1       21 non-null     object
 2   2       21 non-null     object
 3   3       21 non-null     object
 4   4       21 non-null     object
 5   5       20 non-null     object
 6   6       15 non-null     object
dtypes: object(7)
memory usage: 1.3+ KB

In [30]:
data=pd.read_csv('D:\GL\Dec28\data - Copy.csv',sep='&',header =None,names=['Code','COUNTRY'])

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 21 entries, ('Code', 'COUNTRY', 'POP', 'AREA', 'GDP') to ('KAZ', 'Kazakhstan', '18.53', '2724.9', '159.41')
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Code     20 non-null     object
 1   COUNTRY  15 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [33]:
data.head()

                                              Code     COUNTRY
Code COUNTRY   POP     AREA    GDP            CONT     IND_DAY
CHN  China     1398.72 9596.96 12234.78       Asia         NaN
IND  India     1351.16 3287.26 2575.67        Asia       17394
USA  US        329.74  9833.52 19485.39  N.America  1776-07-04
IDN  Indonesia 268.07  1910.93 1015.54        Asia       16666

In [36]:
import pandas as pd
pd.read_csv('D:\GL\Dec28\data.csv',skiprows=5)

    BRA      Brazil  210.32   8515.77  2055.51  S.America  1822-09-07
0   PAK    Pakistan  205.71    881.91   302.14       Asia  14-08-1947
1   NGA     Nigeria  200.96    923.77   375.77     Africa  01-10-1960
2   BGD  Bangladesh  167.09    147.57   245.63       Asia  26-03-1971
3   RUS      Russia  146.79  17098.25  1530.75        NaN  12-06-1992
4   MEX      Mexico  126.58   1964.38  1158.23  N.America  1810-09-16
5   JPN       Japan  126.22    377.97  4872.42       Asia         NaN
6   DEU     Germany   83.02    357.11  3693.20     Europe         NaN
7   FRA      France   67.02    640.68  2582.49     Europe  1789-07-14
8   GBR          UK   66.44    242.50  2631.23     Europe         NaN
9   ITA       Italy   60.36    301.34  1943.84     Europe         NaN
10  ARG   Argentina   44.94   2780.40   637.49  S.America  1816-07-09
11  DZA     Algeria   43.38   2381.74   167.56     Africa  05-07-1962
12  CAN      Canada   37.59   9984.67  1647.12  N.America  1867-07-01
13  AUS   Australia   25.47   7692.02  1408.68    Oceania         NaN
14  KAZ  Kazakhstan   18.53   2724.90   159.41       Asia  16-12-1991

In [37]:
import pandas as pd
pd.read_csv('D:\GL\Dec28\data.csv',index_col=0)

         COUNTRY      POP      AREA       GDP       CONT     IND_DAY
Code
CHN        China  1398.72   9596.96  12234.78       Asia         NaN
IND        India  1351.16   3287.26   2575.67       Asia  15-08-1947
USA           US   329.74   9833.52  19485.39  N.America  1776-07-04
IDN    Indonesia   268.07   1910.93   1015.54       Asia  17-08-1945
BRA       Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
PAK     Pakistan   205.71    881.91    302.14       Asia  14-08-1947
NGA      Nigeria   200.96    923.77    375.77     Africa  01-10-1960
BGD   Bangladesh   167.09    147.57    245.63       Asia  26-03-1971
RUS       Russia   146.79  17098.25   1530.75        NaN  12-06-1992
MEX       Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
JPN        Japan   126.22    377.97   4872.42       Asia         NaN
DEU      Germany    83.02    357.11   3693.20     Europe         NaN
FRA       France    67.02    640.68   2582.49     Europe  1789-07-14
GBR           UK    66.44    242.50   2631.23     Europe         NaN
ITA        Italy    60.36    301.34   1943.84     Europe         NaN
ARG    Argentina    44.94   2780.40    637.49  S.America  1816-07-09
DZA      Algeria    43.38   2381.74    167.56     Africa  05-07-1962
CAN       Canada    37.59   9984.67   1647.12  N.America  1867-07-01
AUS    Australia    25.47   7692.02   1408.68    Oceania         NaN
KAZ   Kazakhstan    18.53   2724.90    159.41       Asia  16-12-1991

In [78]:
import pandas as pd
#data=pd.read_csv('D:\GL\Dec28\data.csv',skip_blank_lines=True,na_filter=False)
data=pd.read_csv('D:\GL\Dec28\data.csv',na_filter=True,skip_blank_lines=True)

In [80]:
data.dropna()

   Code     COUNTRY      POP     AREA       GDP       CONT     IND_DAY
1   IND       India  1351.16  3287.26   2575.67       Asia  15-08-1947
2   USA          US   329.74  9833.52  19485.39  N.America  1776-07-04
3   IDN   Indonesia   268.07  1910.93   1015.54       Asia  17-08-1945
4   BRA      Brazil   210.32  8515.77   2055.51  S.America  1822-09-07
5   PAK    Pakistan   205.71   881.91    302.14       Asia  14-08-1947
6   NGA     Nigeria   200.96   923.77    375.77     Africa  01-10-1960
7   BGD  Bangladesh   167.09   147.57    245.63       Asia  26-03-1971
9   MEX      Mexico   126.58  1964.38   1158.23  N.America  1810-09-16
12  FRA      France    67.02   640.68   2582.49     Europe  1789-07-14
15  ARG   Argentina    44.94  2780.40    637.49  S.America  1816-07-09
16  DZA     Algeria    43.38  2381.74    167.56     Africa  05-07-1962
17  CAN      Canada    37.59  9984.67   1647.12  N.America  1867-07-01
19  KAZ  Kazakhstan    18.53  2724.90    159.41       Asia  16-12-1991

In [1]:
import xlrd

In [2]:
book=xlrd.open_workbook('D:\GL\Dec28\sample.xlsx')

In [3]:
book

In [4]:
n=book.nsheets

In [5]:
n

2

In [6]:
book.sheet_names()

['Book1', 'Book2']

In [7]:
last_sheet=book.sheet_by_index(n-1)

In [8]:
last_sheet

In [13]:
last_sheet.row_values(0)

['Age', 'Height', 'Weight']

In [14]:
last_sheet.cell(0,0)

text:'Age'

In [16]:
last_sheet.row_slice(rowx=2,start_colx=1,end_colx=5)

[number:225.0, number:120.0]

In [19]:
import pandas as pd
medal_data=pd.read_csv('http://winterolympicsmedals.com/medals.csv')

In [20]:
medal_data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [26]:
!pip install urllib
import csv
import urllib.request as urllib2

Collecting urllib

  ERROR: Could not find a version that satisfies the requirement urllib (from versions: none)
ERROR: No matching distribution found for urllib

In [27]:
pip install requests

Requirement already satisfied: requests in c:\users\ramanan\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ramanan\anaconda3\lib\site-packages (from requests) (2019.9.11)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ramanan\anaconda3\lib\site-packages (from requests) (1.26.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ramanan\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\ramanan\anaconda3\lib\site-packages (from requests) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import urllib.request as urllib2

In [29]:
url = 'http://winterolympicsmedals.com/medals.csv'
response = urllib2.urlopen(url)
cr = csv.reader(response)

for row in cr:
    print(row)

Error: iterator should return strings, not bytes (did you open the file in text mode?)

In [32]:
import csv
import urllib.request as urllib2

url="http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
response=urllib2.urlopen(url)
cr=csv.reader(response)

for rows in cr:
      print(rows)

Error: iterator should return strings, not bytes (did you open the file in text mode?)